/netbeans/ex_starts/productMain/build/
/netbeans/ex_starts/productMain2/nbproject/private/
/netbeans/ex_starts/productMain2/build/
/netbeans/ex_solutions/ch12_ex2_userAdmin_sol/build/
/netbeans/book_apps/ch12sqlGateway/build/
/netbeans/ex_starts/productMain3/nbproject/private/
/netbeans/ex_starts/productMain3/build/
/netbeans/ex_starts/ch13_ex2_userAdmin/build/
/netbeans/book_apps/ch15email/build/
/netbeans/ex_starts/productMain2/dist/
/netbeans/ex_solutions/ch04_ex1_survey_sol/build/
/netbeans/ex_solutions/ch06_ex2_survey_sol/build/
/mhamilton_jsp_classwork/productMain5/nbproject/private/
/mhamilton_jsp_classwork/productMain5/build/.DS_Store
/netbeans/book_apps/musicStoreJPA/build/